body    {
    background-color: bisque;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 37rem 1fr;
    background-color: rgb(193, 171, 145);
    height: 39rem;
}

.food-image {
    width: 30rem;
    height: 31rem;
    border-radius: 1rem;
    margin: 3.5rem;
    margin-top: 5rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    margin-top: 15rem;
    font-size: 3rem;
    
}

p {
    font-size: 1.5rem;
}

ul {
    font-size: 1.5rem;
}

.ingredients-text {
    text-align: center;
}

.instructions-text {
    margin-left: 2.5rem;
    font-weight: 700;
}

.comment-section {
    background-color: rgb(192, 192, 192);
}