*{
    padding:0;
    margin:0;
}

header {
    background-color: #3B271A;
}
h1 {
    color: aliceblue;
}
header a {
    color: aliceblue;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}

