body {
  margin: 0;
  font-family: 'Jua', sans-serif;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  background-color: #3B271A;
}

.header-image {
  position: relative;
  width: 100%;
  height: 75vh; /* controls the height */
  overflow: hidden;
}

.brand-name{
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: top; 
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-text {
  position: absolute;
  top: 50%; 
  left: 50%;
  color: white;
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  transform: translate(-50%, -50%); 
  border-radius: 12px;
  max-width: 80%;
}

.header-text h1 {
  font-family: 'Jua', sans-serif;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.header-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin: 0;
}

.search-bar {
  width: 250px;
  padding: 0.5rem;
  border-radius: 18px;
  border: none;
  font-size: 1rem;
}

a{
  color: white;
  text-decoration: none;
}

.intro {
  text-align: center;
  padding: 2rem;
  background-color: #F6DFC3;
}

.gallery-section {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1%; 
  align-items: center; 
  margin: 0 auto; 
  padding: 1%;
  width: 85%;
  grid-auto-rows: 380px;
}

.gallery img {
  width: 100%;
  height: 100%;
}

.item {
  position: relative;
  overflow: hidden;
  margin: 0 auto; 
  width: 100%;
  height: 80%;
}

.item img {
  width: 100%;
  height: 100%;
  display: block;
}

.item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.item:hover::after {
  opacity: 1;
}


img {
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.right-side-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.right-side-link a {
  text-decoration: none;
  color: white;
}

footer {
  font-family: 'Roboto', sans-serif;
  background-color: #3D3D3D;
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

footer section {
  width: 30%;
  min-width: 250px;
}

footer h3 {
  font-size: 1.2rem;
}

footer p {
  margin: 0.25rem 0;
  line-height: 1.4;
}